parameters:
  level: 5
  paths:
    - wp-content/mu-plugins/longevity-core
    - wp-content/themes/longevity-starter/functions.php
  excludePaths:
    - vendor
  scanFiles:
    - wp-content/mu-plugins/longevity-core.php
